@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="grid-container">
    @if (Program.UserDetails.UserID == 0)
    {
        <div class="nav">
            <div class="logo">
                <a href="/Index" class="navLinks">
                    <img src="~/images/PhramdLogo.png" alt="PhramdLogo">
                </a>
            </div>
            <div class="about">
                <a href="#about" class="navLinks">About</a>
            </div>
            <div class="contact">
                <a href="#contact" class="navLinks">Contact</a>
            </div>
            <div class="account">
                <a href="#" class="navLinks"><i class="fas fa-user-circle"></i></a>
                <div class="accountContent">
                    <br />
                    <a href="#" onclick="document.getElementById('logIn').style.display='block'" class="navLinks">Login</a><br />
                    <a href="#" onclick="document.getElementById('register').style.display='block'" class="navLinks">Sign Up</a>
                </div>
            </div>
        </div>
        <div class="slider-div">
            <div class="slider">
                slider
            </div>
        </div>
        <div id="about" class="about-div">
            <div class="left">
                Test Left
            </div>
            <div class="right">
                Test Right
            </div>
        </div>
        <div id="contact" class="contact-div">contact</div>
    }
    @if (Program.UserDetails.UserID != 0)
    {
        <div class="nav">
            <div class="logo">
                <a href="/Index" class="navLinks">
                    <img src="~/images/PhramdLogo.png" alt="PhramdLogo">
                </a>
            </div>
            <div class="about">
                <a href="#" class="navLinks">About</a>
            </div>
            <div class="contact">
                <a href="#" class="navLinks">Contact</a>
            </div>
            <div class="uname">
                <p>
                    <a href="#" class="navLinks"><i class="fas fa-user-circle"></i></a><br />
                    Hello <b>@Program.UserDetails.Username!</b>
                </p>
                <div class="unameContetnt">
                    <form method="post" asp-page-handler="Logout">
                        <input type="submit" class="navLinks" name="Logout" value="Logout" />
                    </form>
                    <a href="#accountSettings" class="navLinks">Settings</a>
                </div>
            </div>
        </div>
        <div class="accountSettings-div">
            <div id="accountSettings" class="accountSettings">
                <h2>Account Settings</h2>
                <h3>Photos</h3>
                <form method="post" asp-page-handler="Photos">
                    
                </form>
            </div>
        </div>
    }
    <div class="footer">
        <div class="f1">
            <img src="~/images/VSlogo.svg.png" alt="Visual Studio" />
        </div>
        <div class="f2">
            <img src="~/images/dotnetcoreLogo.png" alt=".Net Core" />
        </div>
        <div class="f3">
            <img src="~/images/csharpLogo.png" alt="C#" />
        </div>
        <div class="f4">
            <p>&copy; 2018 - PHRAMD</p>
        </div>
        <div class="f5">
            <img src="~/images/sqlserverLogo.png" alt="SQL Server" />
        </div>
        <div class="f6">
            <img src="~/images/HTML5Badge.png" alt="HTML 5" />
        </div>
        <div class="f7">
            <img src="~/images/CSS3Logo.png" alt="CSS 3" />
        </div>
    </div>
    <div id="logIn" class="modal">
        <form class="modalContent animate" method="post" asp-page-handler="Login">
            <div class="container">
                <h1>Login</h1>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Login</button>
                <button type="button" onclick="document.getElementById('logIn').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
    <div id="register" class="modal">
        <form class="modalContent animate" method="post" asp-page-handler="NewUser">
            <div class="container">
                <h1>Sign Up</h1>
                <hr>
                <label for="username"><b>Username</b></label>
                <input type="text" placeholder="Enter Username" name="username" required>
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" name="email" required>
                <label for="password"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <button type="submit">Register</button>
                <button type="button" onclick="document.getElementById('register').style.display='none'" class="cancelbtn">Cancel</button>
            </div>
        </form>
    </div>
</div>

